.mat-raised-button {
    margin-top: 20px;
}
.publish{
    width: 100%;
    font-size: 20px;
    line-height: 60px;
}
.publish-container{
    padding: 60px;
}
.money{
  font-size: 23px;
  position: absolute;
  right: 15px;
  top: 0px;
}
