<mat-card class="chat-card" [style.right]="getChatPosition()">
  <mat-card-header [class]="getHeaderClass()">
    <span>
      <app-user-image [userId]="chatUser._id" diameter="60px"></app-user-image>
    </span>
    <span class="chat-user-name">
      {{chatUser.name}}
    </span>
    <button mat-icon-button color="basic" class="btn-menu" (click)="openDialog()"
            [disabled]="chat.booking.canceled || chat.booking.menu.canceled">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-mini-fab color="basic" class="btn-window btn-toggle" (click)="toggleWindow()">
      <mat-icon>{{windowIcon}}</mat-icon>
    </button>
    <button mat-mini-fab color="basic" class="btn-window btn-close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-chip-list>
      <mat-chip class="chip-booking chip-canceled" *ngIf="chat.booking.canceled && maximized">
        Booking is canceled
      </mat-chip>
      <mat-chip class="chip-booking chip-confirmed" *ngIf="chat.booking.confirmed && maximized">
        Booking is confirmed
      </mat-chip>
    </mat-chip-list>
  </mat-card-header>
  <mat-card-content #scrollMe *ngIf="maximized">
    <mat-expansion-panel *ngIf="!chat.booking.canceled && !chat.booking.confirmed" [disabled]="!isHost">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span *ngIf="!chat.booking.canceled && !chat.booking.confirmed">
            Booking is not confirmed yet
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button color="primary" class="btn-confirm" (click)="confirmBooking()">Confirm</button>
      <button mat-raised-button color="warn" (click)="cancelBooking()">Cancel</button>
    </mat-expansion-panel>
    <div *ngIf="!chat.booking.canceled && !chat.booking.confirmed" style="margin-bottom: 60px"></div>
    <div *ngIf="(chat.booking.canceled || chat.booking.confirmed)" style="margin-bottom: 20px"></div>
    <div *ngFor="let message of chat.messages" class="message-fill">
      <div [class]="getClass(message)">
        {{message.message}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="maximized">
    <div class="input-group">
      <input [disabled]="chat.booking.canceled" autofocus class="form-control" maxlength="50"
             placeholder="Send a message" (blur)="onBlur()"
             (focus)="onFocus()" [(ngModel)]="messageContent"
             (keyup.enter)="sendMessage(messageContent) ">
      <div class="input-group-append">
        <button [disabled]="chat.booking.canceled || chat.booking.menu.canceled"
                class="btn btn-outline-secondary btn-send" type="button" (click)="sendMessage(messageContent)">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
