<mat-card class="chat-card" [style.right]="getChatPosition()">
  <mat-card-header [class]="getHeaderClass()">
    <span>
      <app-user-image [userId]="chatUser._id" diameter="60px"></app-user-image>
    </span>
    <span class="chat-user-name">
      {{chatUser.name}}
    </span>
    <button mat-icon-button color="basic" class="btn-menu" (click)="openDialog()">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-mini-fab color="basic" class="btn-window btn-toogle" (click)="toogleWindow()">
      <mat-icon>{{windowIcon}}</mat-icon>
    </button>
    <button mat-mini-fab color="basic" class="btn-window btn-close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content #scrollMe *ngIf="maximized">
    <div *ngFor="let message of chat.messages" class="message-fill">
      <div [class]="getClass(message)">
        {{message.message}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="maximized">
    <div class="input-group">
      <input autofocus class="form-control" maxlength="50" placeholder="Send a message" (blur)="onBlur()" (focus)="onFocus()" [(ngModel)]="messageContent"
        (keyup.enter)="sendMessage(messageContent) ">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-send" type="button" (click)="sendMessage(messageContent)">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>