<div class="col-8 offset-2">
  <mat-card>
    <div class="row">
      <div class="col-4 offset-4 profile-header">
        <label for="file-upload" class="custom-file-upload text-muted">
          <mat-icon *ngIf="image=='#'" class="icon-account">account_circle</mat-icon>
          <img class="center-cropped" [src]="image">
        </label>
        <input id="file-upload" name="file" type="file" (change)="uploadPhoto($event)" width="150"/>
        <div class="text-muted">
          {{user.name}}
        </div>
      </div>
    </div>
    <form role="form" (submit)="updateUser()">
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="name" required [(ngModel)]="user.name" id="name" placeholder="Name"
                     i18n-placeholder="@@name">
              <mat-error i18n="@@fileRequired">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="surname" required [(ngModel)]="user.surname" id="surname"
                     placeholder="Surname"
                     i18n-placeholder="@@surname">
              <mat-error i18n="@@fileRequired">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="email" name="email" [(ngModel)]="user.email" id="email" placeholder="Email">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="mobileNumber" [(ngModel)]="user.mobileNumber" id="mobileNumber"
                     placeholder="Mobile Number"
                     i18n-placeholder="@@mobileNumber">
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <mat-form-field>
              <input matInput type="number" name="postalCode" [(ngModel)]="user.postalCode" id="postalCode"
                     placeholder="Postal Code"
                     i18n-placeholder="@@postalCode">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="address" [(ngModel)]="user.address" id="address" placeholder="Address"
                     i18n-placeholder="@@address">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="country" [(ngModel)]="user.country" id="country" placeholder="Country"
                     i18n-placeholder="@@country">
            </mat-form-field>
          </div>
          <div class="input-group">
            <button mat-raised-button color="warn" style="margin-top: 10px;" i18n="@@changePassword">CHANGE PASSWORD
            </button>
          </div>
        </div>
      </div>
      <br>
      <div class="col-6 offset-3">
        <div class="input-group">
          <button mat-raised-button color="primary" type="submit" name="action" i18n="@@updateProfile">UPDATE PROFILE
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
