<div class="col-10 offset-1">
  <mat-card>
    <div class="row">
      <div class="col-5" *ngIf="menu">
        <app-menu-info state="booking" [date]="menu.date" [guests]="menu.guests" [available]="menu.available" [price]="menu.price"
          [name]="menu.name" [description]="menu.description" [starters]="menu.starters" [mains]="menu.mains" [desserts]="menu.desserts"
          [host]="menu.host" [address]="menu.address">
        </app-menu-info>
      </div>
      <div class="col-7 booking-container">
        <div *ngFor="let rate of rates">
          <app-rate [rate]="rate"></app-rate>
        </div>
        <h2 class="text-success">Would you like to book the menu?</h2>
        <h5>You can chat with the host</h5>
        <h5>The host will confirm your book</h5>
        <div class="col-8 offset-2">
          <button mat-raised-button color="primary" class="booking" (click)="bookMenu()">
            BOOK MENU
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>