<mat-card [id]="menu._id">
  <button mat-icon-button [matMenuTriggerFor]="options" class="options-btn" *ngIf="!isPast(menu.date)">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #options="matMenu">
    <button mat-menu-item [routerLink]="['/menus/edit',menu._id]">
      <mat-icon>edit</mat-icon>
      <span i18n="@@edit">Edit</span>
    </button>
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>delete</mat-icon>
      <span i18n="@@cancelMenu">Cancel Menu</span>
    </button>
  </mat-menu>
  <app-header-menu-info [name]="menu.name" [date]="menu.date" [price]="menu.price" [guests]="menu.guests"
                        [available]="menu.available" [host]="menu.host"></app-header-menu-info>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Info">
        <div class="container-fluid mt-3">
          <app-address-dishs-info [description]="menu.description" [address]="menu.address" [starters]="menu.starters"
                                  [mains]="menu.mains" [desserts]="menu.desserts">
          </app-address-dishs-info>
        </div>
      </mat-tab>
      <mat-tab label="Guests" i18n-label="@@guests">
        <div class="guests mt-3 container-fluid">
          <h5 *ngIf="(!bookings || bookings.length==0)" i18n="@@noGuessts"> There aren't guests in this menu</h5>
          <div *ngIf="(bookings && bookings.length!=0)">
            <div *ngFor="let booking of bookings">
              <div class="row" *ngIf="isPast(menu.date)">
                <div class="col-2" *ngIf="(booking.confirmed && isPast(menu.date))">
                     <span><mat-icon
                       class="booking-status confirmed">check_circle</mat-icon>
                       <span class="text-secondary book-persons">{{booking.persons}}x</span>
                     </span>
                  <app-user-image [userId]="booking.guest._id" diameter="70px"
                                  [username]="booking.guest.name"></app-user-image>
                  <mat-divider></mat-divider>
                </div>
                <div class="col-5" *ngIf="(booking.confirmed && isPast(menu.date))">
                  <app-rate *ngIf="booking.guestRate" [rate]="booking.guestRate"></app-rate>
                  <div *ngIf="!booking.guestRate" i18n="@@guestRate">
                    Here you can rate the guest
                  </div>
                  <button mat-raised-button color="accent" *ngIf="!booking.guestRate"
                          [routerLink]="['/ratings',booking._id,'guest', booking.guest._id]" i18n="@@valorate">
                    VALORATE
                  </button>
                </div>
                <div class="col-4" *ngIf="(booking.confirmed && isPast(menu.date))">
                  <app-rate *ngIf="booking.hostRate" [rate]="booking.hostRate"></app-rate>
                  <div *ngIf="!booking.hostRate" i18n="@@guestNotRate">
                    The guest has not rated you yet
                  </div>
                </div>
              </div>
              <div class="col-2 guest" *ngIf="!isPast(menu.date)">
                <mat-icon *ngIf="(booking.canceled)" class="booking-status canceled">cancel</mat-icon>
                <mat-icon *ngIf="(booking.confirmed)" class="booking-status confirmed">check_circle</mat-icon>
                <span class="text-secondary book-persons">{{booking.persons}}x</span>
                <app-user-image [userId]="booking.guest._id" diameter="70px"
                                [username]="booking.guest.name"></app-user-image>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
