<div class="col-4 offset-4">
  <mat-card>
    <img mat-card-image class="logo" src="/assets/img/logo.png">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <form role="form" (submit)="login()">
      <div class="input-group">
        <mat-form-field>
          <input matInput type="email" name="email" [(ngModel)]="email" id="email" placeholder="Email" required
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </mat-form-field>
      </div>
      <div class="input-group">
        <mat-form-field>
          <input matInput type="password" name="password" [(ngModel)]="password" id="password" placeholder="Password"
                 required>
        </mat-form-field>
      </div>
      <div class="input-group">
        <button mat-raised-button color="primary" type="submit" name="action" i18n="@@login">LOGIN</button>
        <button mat-raised-button color="basic" [routerLink]="['/register']" i18n="@@signup">SIGN UP</button>
      </div>
      <br>
    </form>
  </mat-card>
</div>
