.search {
    width: 100%;
    line-height: 40px;
    margin-top: 10px;
    margin: 0;
    height: 50px;
}

.menus {
    padding: 10px 10px 0px 0px;
    margin-bottom:  0;
}

.menu-cards{
    max-height: 460px;
    padding: 0px 45px;
    overflow: auto;
}