<agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude" [clickableIcons]="false">
  <agm-marker *ngIf="currentLocation" [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude"
              iconUrl="/assets/icons/pin-me.svg">
  </agm-marker>
  <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
    <agm-marker *ngFor="let menu of menus" [latitude]="menu.location[1]" [longitude]="menu.location[0]"
                [label]="menu.label" iconUrl="/assets/icons/pin.svg" (markerClick)="markerClicked($event, menu)">
    </agm-marker>
  </agm-marker-cluster>
</agm-map>
