<div class="col-8 offset-2">
  <mat-card>
    <div class="row">
      <div class="col-4 offset-4 profile-header">
        <label for="file-upload" class="custom-file-upload text-muted">
          <mat-icon *ngIf="!image" class="icon-account">account_circle</mat-icon>
          <img class="center-cropped" [src]="image">
        </label>
        <input id="file-upload" name="file" type="file" (change)="uploadPhoto($event)" width="150" />
        <div class="text-muted">
          {{user.name}}
        </div>
      </div>
    </div>
    <form role="form" (submit)="updateUser()">
      <div class="row">
        <div class="col-6">
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="name" required [(ngModel)]="user.name" id="name" placeholder="Name">
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="surname" required [(ngModel)]="user.surname" id="surname" placeholder="Surname">
              <mat-error>This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="email" name="email" [(ngModel)]="user.email" id="email" placeholder="Email">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="mobileNumber" [(ngModel)]="user.mobileNumber" id="mobileNumber" placeholder="Mobile Number">
            </mat-form-field>
          </div>
        </div>
        <div class="col-6">
          <div class="input-group">
            <mat-form-field>
              <input matInput type="number" name="postalCode" [(ngModel)]="user.postalCode" id="postalCode" placeholder="Postal Code">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="address" [(ngModel)]="user.address" id="address" placeholder="Address">
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <input matInput type="text" name="country" [(ngModel)]="user.country" id="country" placeholder="Country">
            </mat-form-field>
          </div>
          <div class="input-group">
            <button mat-raised-button color="warn" style="margin-top: 10px;">CHANGE PASSWORD</button>
          </div>
        </div>
      </div>
      <br>
      <div class="col-6 offset-3">
        <div class="input-group">
          <button mat-raised-button color="primary" type="submit" name="action">UPDATE PROFILE</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>