<mat-card>
  <img mat-card-image [src]="image">
  <mat-card-title class="title">{{title}}</mat-card-title>
  <button mat-fab color="warn" class="addDish" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-card-content>
    <div [formGroup]="group">
      <p *ngIf="getControls().length===0">
        {{description}}
      </p>
      <div [formArrayName]="arrayName">
        <div *ngFor="let item of getControls(); let index = index">
          <mat-form-field [formGroupName]="index">
            <input matInput formControlName="name" appAutofocus required>
            <button mat-button matSuffix mat-icon-button class="removeItem" (click)="removeItem(index)" color="warn">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>