.mat-raised-button {
    margin-top: 20px;
}

.time {
    background: #673ab7;
    color: white;
    font-size: 30px;
    padding: 10px;
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    margin: 0px 8px;
}

mat-card-title {
    margin-top: -60px !important;
    color: white;
    position: relative;
}

.mat-card-image {
    margin-top: -120px !important;
    filter: brightness(0.4);
}

.user-picture {
    height: 70px !important;
    width: 70px !important;
    float: right;
}

.chip {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
}