<mat-card [id]="menu._id">
  <button mat-icon-button [matMenuTriggerFor]="options" class="options-btn">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #options="matMenu">
    <button mat-menu-item [routerLink]="['/edit-menu',menu._id]">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
  <app-header-menu-info [name]="menu.name" [date]="menu.date" [price]="menu.price" [guests]="menu.guests"
                        [available]="menu.available" [host]="menu.host"></app-header-menu-info>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Info">
        <div class="container-fluid mt-3">
          <app-address-dishs-info [description]="menu.description" [address]="menu.address" [starters]="menu.starters"
                                  [mains]="menu.mains"
                                  [desserts]="menu.desserts">
          </app-address-dishs-info>
        </div>
      </mat-tab>
      <mat-tab label="Guests">
        <div class="guests mt-3 container-fluid">
          <h5 *ngIf="(!bookings || bookings.length==0)"> There aren't guests in this menu</h5>
          <div *ngIf="(bookings && bookings.length!=0)">
            <div *ngFor="let booking of bookings" class="row guest">
              <div class="col-2" *ngIf="booking.confirmed">
                     <span><mat-icon
                       class="booking-status confirmed">check_circle</mat-icon>
                       <span class="text-secondary book-persons">{{booking.persons}}x</span>
                     </span>
                <app-user-image [userId]="booking.guest._id" diameter="70px"
                                [username]="booking.guest.name"></app-user-image>
                <mat-divider></mat-divider>
              </div>
              <div class="col-5" *ngIf="(booking.confirmed && isPast(menu.date))">
                <app-rate *ngIf="booking.guestRate" [rate]="booking.guestRate"></app-rate>
                <div *ngIf="!booking.guestRate">
                  Here you can rate the guest
                </div>
                <button mat-raised-button color="accent"
                        [routerLink]="['/rating',booking._id,'guest', booking.guest._id]">
                  VALORATE
                </button>
              </div>
              <div class="col-4" *ngIf="(booking.confirmed && isPast(menu.date))">
                <app-rate *ngIf="booking.hostRate" [rate]="booking.hostRate"></app-rate>
                <div *ngIf="!booking.hostRate">
                  The guest has not rated you yet
                </div>
              </div>
            </div>
            <!--<span *ngIf="(isCanceled(booking) && !isPast(menu.date))">-->
            <!--<mat-icon class="booking-status canceled">cancel</mat-icon>-->
            <!--</span>-->
            <!--</div>-->
            <!--<div *ngIf="(booking.confirmed && isPast(menu.date))" style="display: flex">-->
            <!--</div>-->
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <!--<button *ngIf="(state=='show')" class="valorate-button" mat-raised-button color="accent" [@visibility]="visibility">-->
  <!--VALORATE YOUR GUESTS-->
  <!--</button>-->
  <!--<div>-->
  <!--<button class="edit-remove-button" mat-raised-button color="basic" [routerLink]="['/edit-menu',menu._id]">-->
  <!--EDIT-->
  <!--</button>-->
  <!--<button class="edit-remove-button" mat-raised-button color="warn">-->
  <!--REMOVE-->
  <!--</button>-->
  <!--</div>-->
</mat-card>
