<!-- <agm-map *ngIf="menus" [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">
  <agm-marker *ngFor="let menu of menus" [latitude]="menu.location[1]" [longitude]="menu.location[0]">
    <agm-snazzy-info-window [maxWidth]="250" [closeWhenOthersOpen]="true">
      <app-menu-marker [id]="menu._id" [date]="menu.date" [date]="menu.date" [guests]="menu.guests" [available]="menu.available"
        [price]="menu.price" [name]="menu.name" [host]="menu.host"></app-menu-marker>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map> -->
<agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude" [clickableIcons]="false">
  <agm-marker *ngIf="currentLocation" [latitude]="currentLocation.coords.latitude" [longitude]="currentLocation.coords.longitude"
    iconUrl="/assets/icons/pin-me.svg">
  </agm-marker>
  <agm-marker *ngFor="let menu of menus" [latitude]="menu.location[1]" [longitude]="menu.location[0]" 
  [label]="menu.label" iconUrl="/assets/icons/pin.svg" (markerClick)="markerClicked($event, menu)">
  <!-- <agm-snazzy-info-window [maxWidth]="400" [maxHeight]="300" [closeWhenOthersOpen]="true">
    <ng-template>
      <app-menu-marker [id]="menu._id" [date]="menu.date" [date]="menu.date" [guests]="menu.guests" [available]="menu.available"
        [price]="menu.price" [name]="menu.name" [host]="menu.host"></app-menu-marker>
    </ng-template>
  </agm-snazzy-info-window> -->
  </agm-marker>
</agm-map>