<agm-map *ngIf="menus" [zoom]="zoom" [latitude]="latitude" 
[longitude]="longitude">
  <!-- <agm-marker [latitude]="currentLocation.coords.latitude" [longitude]="currentLocation.coords.longitude">
    <agm-info-window>Me</agm-info-window>
  </agm-marker> -->
  <agm-marker *ngFor="let menu of menus" [latitude]="menu.location[1]" [longitude]="menu.location[0]">
    <agm-info-window [maxWidth]="250">
        <app-menu-marker [id]="menu._id" [date]="menu.date" [date]="menu.date" [guests]="menu.guests" [available]="menu.available"
        [price]="menu.price" [name]="menu.name" [host]="menu.host"></app-menu-marker>
    </agm-info-window>
  </agm-marker>
</agm-map>