<mat-toolbar color="primary">
  <span>
    <button mat-button color="basic" [routerLink]="['/']">
      <h3 class="home-btn">talk eat</h3>
    </button>
  </span>
  <span class="fill-space"></span>
  <span>
    <button mat-raised-button color="accent" [routerLink]="['/create-menu']">PUBLISH MENU</button>
  </span>
  <span *ngIf="!user">
    <button mat-button color="basic" [routerLink]="['/login']">LOGIN</button>
  </span>
  <span *ngIf="!user">
    <button mat-button color="basic" [routerLink]="['/register']">SIGN UP</button>
  </span>
  <span *ngIf="user">
    <button mat-button color="basic" [matMenuTriggerFor]="menu">
      <span>{{user.name}}</span>
      <mat-icon *ngIf="!user.picture">account_circle</mat-icon>
      <app-user-image [userId]="user._id" diameter="50px">
      </app-user-image>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>account_circle</mat-icon>
        <span>{{user.name}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/my-bookings']">
        <mat-icon>collections_bookmark</mat-icon>
        <span>My bookings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <app-chat-button-list [user]="user"></app-chat-button-list>
  </span>
</mat-toolbar>