<mat-toolbar color="primary">
  <span>
    <button mat-button color="basic" [routerLink]="['/']">
      <h3 class="home-btn">talk eat</h3>
    </button>
  </span>
  <span class="fill-space"></span>
  <span>
    <button mat-raised-button color="accent" [routerLink]="['/create-menu']" i18n="@@publish-menu">PUBLISH MENU</button>
  </span>
  <span *ngIf="!user">
    <button mat-button color="basic" [routerLink]="['/login']" i18n="@@login">LOGIN</button>
  </span>
  <span *ngIf="!user">
    <button mat-button color="basic" [routerLink]="['/register']" i18n="@@signup">SIGN UP</button>
  </span>
  <span *ngIf="user">
    <app-chat-button-list [user]="user" *ngIf="user"></app-chat-button-list>
    <button style="float: none" mat-button color="basic" [matMenuTriggerFor]="menu">
      <!--<mat-icon *ngIf="!user.picture">account_circle</mat-icon>-->
      <!--<span>-->
      <app-user-image [userId]="user._id" diameter="50px" float="right">
      </app-user-image>
       <span>{{user.name}} </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/profile']">
        <mat-icon>account_circle</mat-icon>
        <span>{{user.name}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/my-bookings']">
        <mat-icon>collections_bookmark</mat-icon>
        <span i18n="@@my-bookings">My bookings</span>
      </button>
        <button mat-menu-item [routerLink]="['/my-menus']">
        <mat-icon>restaurant_menu</mat-icon>
        <span i18n="@@my-menus">My menus</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span i18n="@@logout">Logout</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
