mat-card {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 0;
  width: 350px;
}

mat-card-header {
  background: #e6e6e6;
  height: 60px;
}

mat-card-title {
  font-weight: bold;
}

mat-card-content {
  padding: 10px;
  height: 300px;
  margin-bottom: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

mat-card-actions {
  margin: 0px 2px;
  font-size: 15px;
  margin-bottom: 2px !important;
}

mat-expansion-panel {
  background: #e18b9b;
  color: #310000;
  position: fixed;
  border-radius: 10px;
}

.chip-booking {
  position: absolute;
  top: 44px;
  right: 90px;
}

.chip-canceled {
  background: #e18b9b;
  color: #310000;
}

.chip-confirmed {
  background-color: #4e943c;
  color: #fff;
}

mat-expansion-panel-header button {
  margin-left: 20px;
}

mat-expansion-panel-header {
  border-radius: 10px;
}

.btn-confirm {
  background: #28a745;
}

.chat-user-name {
  margin-left: 20px;
  line-height: 3;
}

.btn-window {
  position: absolute;
  border: 0;
  background: none;
  box-shadow: none;
  color: #4c4c4c;
  width: 30px;
  height: 35px;
}

.btn-close {
  right: 5px;
}

.btn-toggle {
  right: 40px;
}

.btn-menu {
  right: -40px;
}

.user-message {
  float: left;
  background: #6b50b7;
  color: white;
}

.notification-message {
  background: #91b77a;
  color: white;
  margin: 20px auto;
}

.cancel-message {
  background: #78393f;
  color: white;
  margin: 20px auto;
}

.chat-message {
  float: right;
  background: rgb(221, 221, 221);
  color: black;
}

.message {
  padding: 0px 10px;
  width: fit-content;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 5px;
  border-radius: 10px;
}

.message-fill {
  height: 37px;
}

.input-group > * {
  width: auto;
  font-size: 13px;
}

.btn-send {
  padding-bottom: 3px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background: #ffd740;
  }
}
