<div class="col-10 offset-1">
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="menuDescription">
      <form [formGroup]="menuDescription">
        <ng-template matStepLabel>Describe your menu</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name" required formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description" required matTextareaAutosize matAutosizeMinRows="4"
            matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperNext>Next
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="addDishes">
      <form [formGroup]="addDishes">
        <ng-template matStepLabel>Add your dishes</ng-template>
        <div class="row">
          <div class="col-4">
            <app-add-dishes [group]="addDishes" arrayName="starters" title="Starters" image="/assets/img/background3.jpeg" description="Add here your starters, like a salad or a soup"></app-add-dishes>
          </div>
          <div class="col-4">
            <app-add-dishes [group]="addDishes" arrayName="mains" title="Mains" image="/assets/img/background.jpeg" description="Add here your main dishes like a paella or a burger"></app-add-dishes>
          </div>
          <div class="col-4">
            <app-add-dishes [group]="addDishes" arrayName="desserts" title="Desserts/Coffee" image="/assets/img/background2.jpeg" description="Add here your desserts like a cheesecake or coffee"></app-add-dishes>
          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>Back
          </button>
          <button mat-raised-button color="accent" matStepperNext>Next
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="completeData">
      <form [formGroup]="completeData">
        <ng-template matStepLabel>Complete last data</ng-template>
        <div class="row">
          <div class="col-3">
            <mat-form-field>
              <mat-select placeholder="Guests" required formControlName="guests">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="Price" required formControlName="price">
              <mat-icon matSuffix>attach_money</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field>
              <input matInput placeholder="Time" type="time" formControlName="time" (blur)="setTime()" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field>
              <input matInput required formControlName="address" placeholder="Address" (blur)="getCoordinates()" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <input matInput required formControlName="postalCode" placeholder="Postal Code" (blur)="getCoordinates()" required>
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field>
              <input matInput required formControlName="country" placeholder="Country" (blur)="getCoordinates()" required>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button color="accent" matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>Back
          </button>
          <button mat-raised-button color="accent" matStepperNext>Next
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm your menu</ng-template>
      <div class="row">
        <div class="col-5">
          <app-menu-info state="publish" [date]="completeData.get('date').value" [time]="completeData.get('time').value" [guests]="completeData.get('guests').value"
            [price]="completeData.get('price').value" [host]="user._id" [name]="menuDescription.get('name').value" [description]="menuDescription.get('description').value"
            [starters]="addDishes.get('starters').value" [mains]="addDishes.get('mains').value" [desserts]="addDishes.get('desserts').value"
            [address]="completeData.get('address').value + ', ' +completeData.get('postalCode').value"></app-menu-info>
        </div>
        <div class="col-7 publish-container">
          <h3>Your menu is finished. Please check your menu information.</h3>
          <div class="col-8 offset-2">
            <button mat-raised-button color="primary" class="publish" (click)="saveMenu()">
              PUBLISH YOUR MENU
            </button>
          </div>
        </div>
      </div>
      <div>
        <button mat-raised-button color="accent" matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>Back
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>